body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  
  background: linear-gradient(
    180deg,
    #0f172a 0%,
    #020617 100%
  );

  margin: 0;
  color: #e2e8f0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.timestamp {
  font-size: 14px;
  color: #cde4ff;
  margin-top: 5px;
}

.metrics {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.metric-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  width: 200px;
}

.logs-table {
  background: white;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logs-table table {
  width: 100%;
  border-collapse: collapse;
}

.logs-table th,
.logs-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.logs-table th {
  background-color: #f8f9fa;
}

.footer {
  text-align: center;
  padding: 15px;
  background: #0a3d62;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}


@keyframes flashRed {
  0% {
    background-color: #ffe5e5;
  }

  50% {
    background-color: #ffcccc;
  }

  100% {
    background-color: transparent;
  }
}

.flash-alert {
  animation: flashRed 2.5s ease-in-out;
}


.severity-low {
  color: green;
  font-weight: 600;
}

.severity-high {
  color: red;
  font-weight: 700;
}

.severity-medium {
  color: orange;
  font-weight: 600;
}
